@use "../abstracts";

.checkout-page {
    display: flex;
    flex-direction: column;
    background-color: var(--product-detail-bg-color);
}

.checkout-container {
    margin-top: 30px;

}

.cart-info {
    padding: 30px;
    border-radius: 20px;
    background: var(--cart-info-bg-color);
    box-shadow: 0px 20px 60px 10px rgba(23, 28, 40, 0.20);

    &__list {
        margin-top: -30px;
    }

    &__bottom {
        margin-top: 30px;
    }

    &__continue {
        height: 100%;
        display: flex;
        align-items: flex-end;
    }

    &__link {
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 144.444%;
    }

    &__row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 10px;
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 144.444%;
        color: var(--cart-info-text-color);

        &:nth-child(2) {
            padding-bottom: 30px;
            border-bottom: 1px solid #D2D1D6;
        }

        &:last-child {
            margin-top: 30px;
        }

        &--bold {
            font-size: 2.2rem;
            font-weight: 700;
        }
    }

    &__button {
        margin-top: 30px;
    }

    &__gift {
        display: flex;
        // align-items: center;
        gap: 20px;
    }

    &__thumb-wrap {
        padding: 10px;
        border-radius: 14px;
        background: #fff;
    }

    &__content {
        flex: 1;
    }

    &__title {
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 144.444%;
        color: var(--cart-info-text-color);
    }

    &__desc {
        margin-top: 10px;
        font-size: 1.4rem;
        line-height: 142.857%;
        color: var(--cart-info-text-color);
    }
}

.cart-info + .cart-info {
    margin-top: 30px;
}

.cart-item {
    display: flex;
    gap: 30px;
    padding: 30px 0;
    border-bottom: 1px solid #D2D1D6;
    color: var(--cart-info-text-color);

    &__thumb {
        width: 175px;
        height: 175px;
        object-fit: contain;
    }

    &__content {
        display: flex;
        align-self: flex-start;
        flex: 1;

        &-left {
            flex: 1;
        }

        &-right {
            display: flex;
            flex-direction: column;
        }
    }

    &__heading {
        max-width: 374px;
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 144.444%;
    }

    &__price-wrap {
        margin: 16px 0;
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 144.444%;
    }

    &__status {
        color: #67B044;

    }

    &__controls {
        display: flex;
        align-items: center;
        gap: 20px;
        margin-top: auto;
        min-height: 46px;
    }

    &__input {
        display: flex;
        align-items: center;
        gap: 10px;
        height: 44px;
        padding: 0 20px;
        border-radius: 10px;
        border: 1px solid #292E39;
    }

    &__total-price {
        font-size: 2.2rem;
        font-weight: 700;
        line-height:  145.455%;
        color: var(--cart-info-text-color);
        text-align: right;
    }

    &__controls-btn {
        display: flex;
        align-items: center;
        gap: 10px;
        color: var(--cart-info-controls-btn-color);
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 150%;
    }
      
}