/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, ::after, ::before {
  box-sizing: border-box;
}

* {
  -webkit-tap-highlight-color: transparent;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: Gordita, sans-serif;
  color: var(--text-color);
  background-color: var(--body-bg-color);
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

a, img, button, input, textarea, select {
  font-family: inherit;
  color: inherit;
  outline: none;
  border: none;
  background-color: transparent;
}

input:focus {
  border: none;
}

.icon {
  filter: var(--icon-color);
}

.separate {
  margin: var(--margin) 0;
  height: 1px;
  background: #292E39;
}

@media (max-width: 575.98px) {
  .container {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
}
i, em {
  font-style: italic;
}

b, strong {
  font-weight: 600;
}

.row > *, .container-fluid, .container {
  padding-left: calc(var(--grid-gutter-x) * 0.5);
  padding-right: calc(var(--grid-gutter-x) * 0.5);
}

.container-fluid, .container {
  --grid-gutter-x: 30px;
  --grid-gutter-y: 0;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.container {
  width: 1370px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--grid-gutter-y) * -1);
  margin-left: calc(var(--grid-gutter-x) * 0.5 * -1);
  margin-right: calc(var(--grid-gutter-x) * 0.5 * -1);
}
.row > * {
  margin-top: var(--grid-gutter-y);
}

.col {
  flex: 1 0;
}

.row-cols-1 > * {
  flex: 0 0 auto;
  width: 100%;
}

.row-cols-2 > * {
  flex: 0 0 auto;
  width: 50%;
}

.row-cols-3 > * {
  flex: 0 0 auto;
  width: 33.3333333333%;
}

.row-cols-4 > * {
  flex: 0 0 auto;
  width: 25%;
}

.row-cols-5 > * {
  flex: 0 0 auto;
  width: 20%;
}

.row-cols-6 > * {
  flex: 0 0 auto;
  width: 16.6666666667%;
}

.col-1 {
  flex: 0 0 auto;
  width: 8.3333333333%;
}

.col-2 {
  flex: 0 0 auto;
  width: 16.6666666667%;
}

.col-3 {
  flex: 0 0 auto;
  width: 25%;
}

.col-4 {
  flex: 0 0 auto;
  width: 33.3333333333%;
}

.col-5 {
  flex: 0 0 auto;
  width: 41.6666666667%;
}

.col-6 {
  flex: 0 0 auto;
  width: 50%;
}

.col-7 {
  flex: 0 0 auto;
  width: 58.3333333333%;
}

.col-8 {
  flex: 0 0 auto;
  width: 66.6666666667%;
}

.col-9 {
  flex: 0 0 auto;
  width: 75%;
}

.col-10 {
  flex: 0 0 auto;
  width: 83.3333333333%;
}

.col-11 {
  flex: 0 0 auto;
  width: 91.6666666667%;
}

.col-12 {
  flex: 0 0 auto;
  width: 100%;
}

.offset-0 {
  margin-left: 0;
}

.offset-1 {
  margin-left: 8.3333333333%;
}

.offset-2 {
  margin-left: 16.6666666667%;
}

.offset-3 {
  margin-left: 25%;
}

.offset-4 {
  margin-left: 33.3333333333%;
}

.offset-5 {
  margin-left: 41.6666666667%;
}

.offset-6 {
  margin-left: 50%;
}

.offset-7 {
  margin-left: 58.3333333333%;
}

.offset-8 {
  margin-left: 66.6666666667%;
}

.offset-9 {
  margin-left: 75%;
}

.offset-10 {
  margin-left: 83.3333333333%;
}

.offset-11 {
  margin-left: 91.6666666667%;
}

.g-0,
.gx-0 {
  --grid-gutter-x: 0px;
}

.g-0,
.gy-0 {
  --grid-gutter-y: 0px;
}

.g-1,
.gx-1 {
  --grid-gutter-x: 7.5px;
}

.g-1,
.gy-1 {
  --grid-gutter-y: 7.5px;
}

.g-2,
.gx-2 {
  --grid-gutter-x: 15px;
}

.g-2,
.gy-2 {
  --grid-gutter-y: 15px;
}

.g-3,
.gx-3 {
  --grid-gutter-x: 30px;
}

.g-3,
.gy-3 {
  --grid-gutter-y: 30px;
}

.g-4,
.gx-4 {
  --grid-gutter-x: 45px;
}

.g-4,
.gy-4 {
  --grid-gutter-y: 45px;
}

.g-5,
.gx-5 {
  --grid-gutter-x: 90px;
}

.g-5,
.gy-5 {
  --grid-gutter-y: 90px;
}

@media (max-width: 1399.98px) {
  .container {
    max-width: 1140px;
  }
  .row-cols-xxl-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-xxl-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-xxl-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-xxl-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-xxl-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-xxl-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xxl-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-xxl-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xxl-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-xxl-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-xxl-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-xxl-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-xxl-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-xxl-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-xxl-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-xxl-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-xxl-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-xxl-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-xxl-0 {
    margin-left: 0;
  }
  .offset-xxl-1 {
    margin-left: 8.3333333333%;
  }
  .offset-xxl-2 {
    margin-left: 16.6666666667%;
  }
  .offset-xxl-3 {
    margin-left: 25%;
  }
  .offset-xxl-4 {
    margin-left: 33.3333333333%;
  }
  .offset-xxl-5 {
    margin-left: 41.6666666667%;
  }
  .offset-xxl-6 {
    margin-left: 50%;
  }
  .offset-xxl-7 {
    margin-left: 58.3333333333%;
  }
  .offset-xxl-8 {
    margin-left: 66.6666666667%;
  }
  .offset-xxl-9 {
    margin-left: 75%;
  }
  .offset-xxl-10 {
    margin-left: 83.3333333333%;
  }
  .offset-xxl-11 {
    margin-left: 91.6666666667%;
  }
  .g-xxl-0,
  .gx-xxl-0 {
    --grid-gutter-x: 0px;
  }
  .g-xxl-0,
  .gy-xxl-0 {
    --grid-gutter-y: 0px;
  }
  .g-xxl-1,
  .gx-xxl-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-xxl-1,
  .gy-xxl-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-xxl-2,
  .gx-xxl-2 {
    --grid-gutter-x: 15px;
  }
  .g-xxl-2,
  .gy-xxl-2 {
    --grid-gutter-y: 15px;
  }
  .g-xxl-3,
  .gx-xxl-3 {
    --grid-gutter-x: 30px;
  }
  .g-xxl-3,
  .gy-xxl-3 {
    --grid-gutter-y: 30px;
  }
  .g-xxl-4,
  .gx-xxl-4 {
    --grid-gutter-x: 45px;
  }
  .g-xxl-4,
  .gy-xxl-4 {
    --grid-gutter-y: 45px;
  }
  .g-xxl-5,
  .gx-xxl-5 {
    --grid-gutter-x: 90px;
  }
  .g-xxl-5,
  .gy-xxl-5 {
    --grid-gutter-y: 90px;
  }
}
@media (max-width: 1199.98px) {
  .container {
    max-width: 960px;
  }
  .row-cols-xl-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-xl-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-xl-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-xl-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-xl-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-xl-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xl-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-xl-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xl-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-xl-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-xl-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-xl-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-xl-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-xl-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-xl-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-xl-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-xl-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-xl-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-xl-0 {
    margin-left: 0;
  }
  .offset-xl-1 {
    margin-left: 8.3333333333%;
  }
  .offset-xl-2 {
    margin-left: 16.6666666667%;
  }
  .offset-xl-3 {
    margin-left: 25%;
  }
  .offset-xl-4 {
    margin-left: 33.3333333333%;
  }
  .offset-xl-5 {
    margin-left: 41.6666666667%;
  }
  .offset-xl-6 {
    margin-left: 50%;
  }
  .offset-xl-7 {
    margin-left: 58.3333333333%;
  }
  .offset-xl-8 {
    margin-left: 66.6666666667%;
  }
  .offset-xl-9 {
    margin-left: 75%;
  }
  .offset-xl-10 {
    margin-left: 83.3333333333%;
  }
  .offset-xl-11 {
    margin-left: 91.6666666667%;
  }
  .g-xl-0,
  .gx-xl-0 {
    --grid-gutter-x: 0px;
  }
  .g-xl-0,
  .gy-xl-0 {
    --grid-gutter-y: 0px;
  }
  .g-xl-1,
  .gx-xl-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-xl-1,
  .gy-xl-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-xl-2,
  .gx-xl-2 {
    --grid-gutter-x: 15px;
  }
  .g-xl-2,
  .gy-xl-2 {
    --grid-gutter-y: 15px;
  }
  .g-xl-3,
  .gx-xl-3 {
    --grid-gutter-x: 30px;
  }
  .g-xl-3,
  .gy-xl-3 {
    --grid-gutter-y: 30px;
  }
  .g-xl-4,
  .gx-xl-4 {
    --grid-gutter-x: 45px;
  }
  .g-xl-4,
  .gy-xl-4 {
    --grid-gutter-y: 45px;
  }
  .g-xl-5,
  .gx-xl-5 {
    --grid-gutter-x: 90px;
  }
  .g-xl-5,
  .gy-xl-5 {
    --grid-gutter-y: 90px;
  }
}
@media (max-width: 991.98px) {
  .container {
    max-width: 720px;
  }
  .row-cols-lg-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-lg-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-lg-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-lg-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-lg-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-lg-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-lg-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-lg-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-lg-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-lg-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-lg-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-lg-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-lg-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-lg-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-lg-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-lg-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-lg-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-lg-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-lg-0 {
    margin-left: 0;
  }
  .offset-lg-1 {
    margin-left: 8.3333333333%;
  }
  .offset-lg-2 {
    margin-left: 16.6666666667%;
  }
  .offset-lg-3 {
    margin-left: 25%;
  }
  .offset-lg-4 {
    margin-left: 33.3333333333%;
  }
  .offset-lg-5 {
    margin-left: 41.6666666667%;
  }
  .offset-lg-6 {
    margin-left: 50%;
  }
  .offset-lg-7 {
    margin-left: 58.3333333333%;
  }
  .offset-lg-8 {
    margin-left: 66.6666666667%;
  }
  .offset-lg-9 {
    margin-left: 75%;
  }
  .offset-lg-10 {
    margin-left: 83.3333333333%;
  }
  .offset-lg-11 {
    margin-left: 91.6666666667%;
  }
  .g-lg-0,
  .gx-lg-0 {
    --grid-gutter-x: 0px;
  }
  .g-lg-0,
  .gy-lg-0 {
    --grid-gutter-y: 0px;
  }
  .g-lg-1,
  .gx-lg-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-lg-1,
  .gy-lg-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-lg-2,
  .gx-lg-2 {
    --grid-gutter-x: 15px;
  }
  .g-lg-2,
  .gy-lg-2 {
    --grid-gutter-y: 15px;
  }
  .g-lg-3,
  .gx-lg-3 {
    --grid-gutter-x: 30px;
  }
  .g-lg-3,
  .gy-lg-3 {
    --grid-gutter-y: 30px;
  }
  .g-lg-4,
  .gx-lg-4 {
    --grid-gutter-x: 45px;
  }
  .g-lg-4,
  .gy-lg-4 {
    --grid-gutter-y: 45px;
  }
  .g-lg-5,
  .gx-lg-5 {
    --grid-gutter-x: 90px;
  }
  .g-lg-5,
  .gy-lg-5 {
    --grid-gutter-y: 90px;
  }
}
@media (max-width: 767.98px) {
  .container {
    max-width: 540px;
  }
  .row-cols-md-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-md-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-md-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-md-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-md-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-md-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-md-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-md-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-md-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-md-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-md-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-md-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-md-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-md-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-md-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-md-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-md-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-md-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-md-0 {
    margin-left: 0;
  }
  .offset-md-1 {
    margin-left: 8.3333333333%;
  }
  .offset-md-2 {
    margin-left: 16.6666666667%;
  }
  .offset-md-3 {
    margin-left: 25%;
  }
  .offset-md-4 {
    margin-left: 33.3333333333%;
  }
  .offset-md-5 {
    margin-left: 41.6666666667%;
  }
  .offset-md-6 {
    margin-left: 50%;
  }
  .offset-md-7 {
    margin-left: 58.3333333333%;
  }
  .offset-md-8 {
    margin-left: 66.6666666667%;
  }
  .offset-md-9 {
    margin-left: 75%;
  }
  .offset-md-10 {
    margin-left: 83.3333333333%;
  }
  .offset-md-11 {
    margin-left: 91.6666666667%;
  }
  .g-md-0,
  .gx-md-0 {
    --grid-gutter-x: 0px;
  }
  .g-md-0,
  .gy-md-0 {
    --grid-gutter-y: 0px;
  }
  .g-md-1,
  .gx-md-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-md-1,
  .gy-md-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-md-2,
  .gx-md-2 {
    --grid-gutter-x: 15px;
  }
  .g-md-2,
  .gy-md-2 {
    --grid-gutter-y: 15px;
  }
  .g-md-3,
  .gx-md-3 {
    --grid-gutter-x: 30px;
  }
  .g-md-3,
  .gy-md-3 {
    --grid-gutter-y: 30px;
  }
  .g-md-4,
  .gx-md-4 {
    --grid-gutter-x: 45px;
  }
  .g-md-4,
  .gy-md-4 {
    --grid-gutter-y: 45px;
  }
  .g-md-5,
  .gx-md-5 {
    --grid-gutter-x: 90px;
  }
  .g-md-5,
  .gy-md-5 {
    --grid-gutter-y: 90px;
  }
}
@media (max-width: 575.98px) {
  .container {
    max-width: 100%;
  }
  .row-cols-sm-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-sm-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-sm-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-sm-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-sm-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-sm-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-sm-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-sm-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-sm-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-sm-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-sm-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-sm-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-sm-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-sm-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-sm-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-sm-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-sm-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-sm-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-sm-0 {
    margin-left: 0;
  }
  .offset-sm-1 {
    margin-left: 8.3333333333%;
  }
  .offset-sm-2 {
    margin-left: 16.6666666667%;
  }
  .offset-sm-3 {
    margin-left: 25%;
  }
  .offset-sm-4 {
    margin-left: 33.3333333333%;
  }
  .offset-sm-5 {
    margin-left: 41.6666666667%;
  }
  .offset-sm-6 {
    margin-left: 50%;
  }
  .offset-sm-7 {
    margin-left: 58.3333333333%;
  }
  .offset-sm-8 {
    margin-left: 66.6666666667%;
  }
  .offset-sm-9 {
    margin-left: 75%;
  }
  .offset-sm-10 {
    margin-left: 83.3333333333%;
  }
  .offset-sm-11 {
    margin-left: 91.6666666667%;
  }
  .g-sm-0,
  .gx-sm-0 {
    --grid-gutter-x: 0px;
  }
  .g-sm-0,
  .gy-sm-0 {
    --grid-gutter-y: 0px;
  }
  .g-sm-1,
  .gx-sm-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-sm-1,
  .gy-sm-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-sm-2,
  .gx-sm-2 {
    --grid-gutter-x: 15px;
  }
  .g-sm-2,
  .gy-sm-2 {
    --grid-gutter-y: 15px;
  }
  .g-sm-3,
  .gx-sm-3 {
    --grid-gutter-x: 30px;
  }
  .g-sm-3,
  .gy-sm-3 {
    --grid-gutter-y: 30px;
  }
  .g-sm-4,
  .gx-sm-4 {
    --grid-gutter-x: 45px;
  }
  .g-sm-4,
  .gy-sm-4 {
    --grid-gutter-y: 45px;
  }
  .g-sm-5,
  .gx-sm-5 {
    --grid-gutter-x: 90px;
  }
  .g-sm-5,
  .gy-sm-5 {
    --grid-gutter-y: 90px;
  }
}
.d-block {
  display: block !important;
}

.d-flex {
  display: flex !important;
}

.d-none {
  display: none !important;
}

.d-grid {
  display: grid !important;
}

@media (max-width: 1399.98px) {
  .d-xxl-block {
    display: block !important;
  }
  .d-xxl-flex {
    display: flex !important;
  }
  .d-xxl-none {
    display: none !important;
  }
  .d-xxl-grid {
    display: grid !important;
  }
}
@media (max-width: 1199.98px) {
  .d-xl-block {
    display: block !important;
  }
  .d-xl-flex {
    display: flex !important;
  }
  .d-xl-none {
    display: none !important;
  }
  .d-xl-grid {
    display: grid !important;
  }
}
@media (max-width: 991.98px) {
  .d-lg-block {
    display: block !important;
  }
  .d-lg-flex {
    display: flex !important;
  }
  .d-lg-none {
    display: none !important;
  }
  .d-lg-grid {
    display: grid !important;
  }
}
@media (max-width: 767.98px) {
  .d-md-block {
    display: block !important;
  }
  .d-md-flex {
    display: flex !important;
  }
  .d-md-none {
    display: none !important;
  }
  .d-md-grid {
    display: grid !important;
  }
}
@media (max-width: 575.98px) {
  .d-sm-block {
    display: block !important;
  }
  .d-sm-flex {
    display: flex !important;
  }
  .d-sm-none {
    display: none !important;
  }
  .d-sm-grid {
    display: grid !important;
  }
}
html {
  --text-color: #1a162e;
  --icon-color: brightness(0) saturate(100%) invert(8%) sepia(7%)
      saturate(5549%) hue-rotate(213deg) brightness(96%) contrast(95%);
  --header-bg-color: #eee;
  --body-bg-color: #f6f6f6;
  --top-act-group-color: #fff;
  --top-act-group-shadow: rgba(237, 237, 246, 0.2);
  --top-act-separate-color: #ededf6;
  --act-dropdown-bg-color:#FFF;
  --act-dropdown-shadow:rgba(200, 200, 200, 0.40);
  --act-dropdown-border-color:#D2D1D6;
  --dropdown-bg-color: #fff;
  --dropdown-shadow: rgba(200, 200, 200, 0.4);
  --top-menu-border-right-color: #d2d1d6;
  --sidebar-bg-color: #fff;
  --cate-item-bg-color: #EEE;
  --cate-item-thumb-bg-color: #FFF;
  --cate-item-desc-color: #1A162E;
  --filter-btn-color:#6C6C72;
  --filter-btn-bg-color:#fff;
  --like-btn-bg-color: #fff;
  --like-btn-shadow:rgba(124, 124, 124, 0.20);
  --product-card-bg-color:#FFF;
  --product-card-shadow:rgba(237, 237, 246, 0.20);
  --product-title-and-price-color: #1A162E;
  --footer-bg-color:#EEE;
  --product-detail-bg-color: #fff;
  --breadcrumbs-bg-color: #F6F6F6;
  --breadcrumbs-shadow: rgba(237, 237, 246, 0.20);
  --product-info-bg-color:#F6F6F6;
  --product-info-heading-color:#1A162E;
  --product-filter-title-color:#1A162E;
  --product-filter-size-bg-color: #EDEDF6;
  --product-info-card-tax-bg-color: #FFFFFFCC;
  --review-card-bg-color:#FAFAFD;
}
@media (max-width: 991.98px) {
  html {
    --header-bg-color: #fff;
    --header-shadow-color: rgba(237, 237, 246, 0.2);
  }
}
@media (max-width: 767.98px) {
  html {
    --cate-item-bg-color: #FFF;
  }
}

html.dark {
  --text-color: #fff;
  --icon-color: brightness(0) saturate(100%) invert(100%) sepia(0%)
      saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
  --header-bg-color: #171c28;
  --body-bg-color: #292e39;
  --top-act-group-color: #292e39;
  --top-act-group-shadow: rgba(0, 0, 0, 0.2);
  --top-act-separate-color: #ededf6;
  --act-dropdown-bg-color:#292E39;
  --act-dropdown-shadow:rgba(23, 28, 40, 0.40);
  --act-dropdown-text-color:#B9BABE;
  --act-dropdown-border-color:#171C28;
  --dropdown-bg-color: #2f3441;
  --dropdown-shadow: rgba(23, 28, 40, 0.4);
  --dropdown-arrow: brightness(0) saturate(100%) invert(17%) sepia(29%)
      saturate(427%) hue-rotate(185deg) brightness(95%) contrast(89%);
  --top-menu-border-right-color: #171c28;
  --menu-column-icon-color: brightness(0) saturate(100%) invert(97%) sepia(3%)
      saturate(2145%) hue-rotate(189deg) brightness(104%) contrast(96%);
  --sidebar-bg-color: #292e39;
  --sidebar-shadow: 0px 40px 90px 20px rgba(23, 28, 40, 0.4);
  --cate-item-bg-color: #171C28;
  --cate-item-thumb-bg-color: #292E39;
  --cate-item-title-color: #FFF;
  --cate-item-desc-color: #FFF;
  --filter-btn-color:#FFF;
  --filter-btn-bg-color:#171C28;
  --like-btn-bg-color: #292E39;
  --like-btn-shadow:rgba(124, 124, 124, 0.20);
  --product-card-bg-color:#171C28;
  --product-card-shadow:rgba(0, 0, 0, 0.20);
  --product-title-and-price-color: #FFF;
  --footer-bg-color:#171C28;
  --product-detail-bg-color: #292E39;
  --breadcrumbs-bg-color: #171C28;
  --breadcrumbs-shadow: rgba(23, 28, 40, 0.20);
  --product-info-bg-color:#171C28;
  --product-info-heading-color:#EEE;
  --product-filter-title-color:#EEE;
  --product-filter-size-bg-color: #292E39;
  --product-info-card-tax-bg-color: #EEEEEE;
  --review-card-bg-color:#171C28;
}
@media (max-width: 991.98px) {
  html.dark {
    --header-shadow-color: rgba(0, 0, 0, 0.2);
  }
}

.top-act__btn, .top-act__group, .navbar__link, .navbar__list, .top-bar {
  display: flex;
  align-items: center;
}

.header {
  background-color: var(--header-bg-color);
}
@media (max-width: 991.98px) {
  .header {
    box-shadow: 0px 20px 60px 10px var(--header-shadow-color);
  }
}

.top-bar {
  z-index: 1;
  position: relative;
  padding: 30px 0;
}
@media (max-width: 991.98px) {
  .top-bar {
    padding: 20px;
  }
}
@media (max-width: 767.98px) {
  .top-bar {
    padding: 16px;
    justify-content: space-between;
  }
}

.navbar {
  margin-left: 129px;
  margin-right: auto;
}
@media (max-width: 1199.98px) {
  .navbar {
    margin-left: 28px;
  }
}
@media (max-width: 991.98px) {
  .navbar {
    position: fixed;
    z-index: 9;
    display: block;
    inset: 0 50% 0 0;
    background-color: var(--sidebar-bg-color);
    margin-left: 0;
    padding: 40px 0;
    translate: -100%;
    transition: translate 0.5s;
    border-radius: 0px 20px 20px 0px;
  }
  .navbar.show {
    translate: 0;
    box-shadow: var(--sidebar-shadow);
  }
  .navbar.show ~ .navbar__overlay {
    visibility: visible;
    opacity: 1;
  }
}
@media (max-width: 767.98px) {
  .navbar {
    padding: 20px 0;
    inset: 0 20% 0 0;
  }
}
.navbar__overlay {
  visibility: hidden;
  opacity: 0;
}
@media (max-width: 991.98px) {
  .navbar__overlay {
    position: fixed;
    inset: 0;
    z-index: 8;
    transition: opacity, visibility;
    transition-duration: 0.5s;
    background-color: rgba(0, 0, 0, 0.4);
  }
}
@media (max-width: 991.98px) {
  .navbar__list {
    flex-direction: column;
    align-items: flex-start;
    overscroll-behavior: contain;
    height: calc(100% - 40px);
    overflow-y: auto;
  }
}
@media (max-width: 767.98px) {
  .navbar__list {
    height: calc(100% - 140px);
  }
}
.navbar__item:hover .dropdown {
  opacity: 1;
  visibility: visible;
  scale: 1;
}
@media (max-width: 991.98px) {
  .navbar__item:hover .dropdown {
    display: block;
  }
}
@media (max-width: 991.98px) {
  .navbar__item {
    width: 100%;
  }
  .navbar__item:hover .dropdown {
    display: none;
  }
  .navbar__item--active .dropdown {
    display: block !important;
  }
}
.navbar__link {
  height: 50px;
  padding: 0 15px;
  column-gap: 6px;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 146.667%;
}
@media (max-width: 991.98px) {
  .navbar__link {
    justify-content: space-between;
    padding: 0 40px;
    font-size: 1.6rem;
    line-height: 150%;
  }
}
@media (max-width: 575.98px) {
  .navbar__link {
    height: 44px;
    padding: 0 20px;
  }
}
.navbar__arrow {
  margin-top: 3px;
}
@media (max-width: 991.98px) {
  .navbar__arrow {
    rotate: -90deg;
    transition: rotate 0.5s;
  }
}
.navbar__item--active .navbar__arrow {
  rotate: 0deg;
}
.navbar__close-btn {
  display: none;
}
@media (max-width: 991.98px) {
  .navbar__close-btn {
    display: block;
    padding: 10px 40px;
  }
}
@media (max-width: 575.98px) {
  .navbar__close-btn {
    padding: 0px 20px 10px;
  }
}

.top-act {
  display: flex;
  column-gap: 20px;
}
@media (max-width: 991.98px) {
  .top-act {
    margin-left: auto;
  }
}
@media (max-width: 767.98px) {
  .top-act {
    margin-left: 0;
  }
}
.top-act__group {
  border-radius: 8px;
  background-color: var(--top-act-group-color);
  box-shadow: 0px 20px 60px 10px var(--top-act-group-shadow);
}
.top-act__separate {
  width: 1px;
  height: 30px;
  background: var(--top-act-separate-color);
}
.top-act__group--single .top-act__btn {
  padding: 13px;
}
.top-act__btn {
  position: relative;
  padding: 13px 20px;
  column-gap: 10px;
  cursor: pointer;
}
.top-act__btn:hover .act-dropdown {
  opacity: 1;
  visibility: visible;
  scale: 1;
}
.top-act__title {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 146.667%;
  color: var(--text-color);
}
.top-act__avatar {
  display: block;
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 8px;
  cursor: pointer;
}

.nav-btn {
  height: 50px;
  align-items: center;
  padding: 0 40px;
}
@media (max-width: 575.98px) {
  .nav-btn {
    padding: 0 20px;
    height: 44px;
  }
}
.nav-btn__title, .nav-btn__qnt {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 146.667%;
  margin-left: 16px;
}
.nav-btn__qnt {
  margin-left: auto;
}

.act-dropdown {
  opacity: 0;
  visibility: hidden;
  scale: 0;
  transition: opacity 0.5s, visibility 0.5s, scale 0.5s;
  position: absolute;
  width: min(674px, 100vw);
  top: 80px;
  right: -72px;
  padding: 30px;
  background-color: var(--act-dropdown-bg-color);
  border-radius: 20px;
}
.act-dropdown__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}
.act-dropdown__title {
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 145.455%;
  color: var(--act-dropdown-text-color);
}
.act-dropdown__see-all {
  font-size: 2.2rem;
  line-height: 145.455%;
  color: #0071DC;
}
.act-dropdown__bottom {
  margin: 30px 0px;
  padding: 30px 0px;
  border-width: 1.5px 0px 1.5px 0;
  border-style: solid;
  border-color: var(--act-dropdown-border-color);
}
.act-dropdown__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.act-dropdown__row + .act-dropdown__row {
  margin-top: 20px;
}
.act-dropdown__label, .act-dropdown__value {
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 145.455%;
  color: var(--act-dropdown-text-color);
}
.act-dropdown__label--bold {
  font-weight: 500;
}
.act-dropdown__checkout {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  flex-shrink: 0;
}
.act-dropdown__btn {
  width: 50%;
  height: 68px;
}

.preview-cart-item {
  text-align: left;
  color: var(--act-dropdown-text-color);
}
.preview-cart-item__img-wrap {
  position: relative;
  padding-top: 100%;
  width: 100%;
  height: 100%;
  border: 1.5px solid #6c6c6d;
  border-radius: 10px;
}
.preview-cart-item__thumb {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.preview-cart-item__title {
  margin: 14px 0px 6px 0px;
  font-size: 1.4rem;
  line-height: 142.857%;
}
.preview-cart-item__price {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 146.667%;
}

.footer {
  margin-top: 50px;
  padding: 50px 0;
  background-color: var(--footer-bg-color);
}
@media (max-width: 991.98px) {
  .footer__logo.logo {
    margin-left: 0px;
  }
}
.footer__row {
  display: grid;
  grid-template-columns: 2fr 1.3fr 1fr 1fr 1.5fr;
  gap: 60px;
}
@media (max-width: 991.98px) {
  .footer__row {
    grid-template-columns: 1fr;
  }
}
.footer__desc {
  font-size: 1.4rem;
  margin-top: 30px;
  line-height: 1.5;
}
.footer__help-text {
  font-size: 1.4rem;
  margin-top: 40px;
  line-height: 1.4;
}
.footer__form {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 16px 0;
}
.footer__input {
  width: 100%;
  padding: 8px 12px;
  border-radius: 6px;
  border: 2px solid #d2d1d6;
  font-size: 1.5rem;
  font-weight: 500;
  outline: none;
}
@media (max-width: 991.98px) {
  .footer__input {
    width: 40%;
  }
}
.footer__heading {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 1.8rem;
}
.footer__list {
  list-style: none;
  margin-top: 18px;
}
.footer__item {
  margin-top: 10px;
}
.footer__link {
  font-size: 1.4rem;
  padding: 8px 0;
  line-height: 1.4;
}
.footer__label {
  margin: 20px 0 10px 0;
}
.footer__text {
  margin-top: 20px;
  font-size: 1.4rem;
  padding: 8px 0;
  line-height: 1.4;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 40px;
  padding: 0 20px;
  border-radius: 6px;
  font-size: 1.8rem;
  font-weight: 500;
  white-space: nowrap;
  user-select: none;
}

.btn--primary {
  color: #171c28;
  background: #ffb700;
}

.logo {
  display: flex;
  align-items: center;
  column-gap: 14px;
}
@media (max-width: 991.98px) {
  .logo {
    margin-left: 50px;
  }
}
@media (max-width: 767.98px) {
  .logo {
    margin-left: 0px;
  }
}
.logo__title {
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 145.455%;
}
@media (max-width: 991.98px) {
  .logo__title {
    font-size: 1.8rem;
  }
}
@media (max-width: 991.98px) {
  .logo__img {
    width: 24px;
  }
}

.dropdown {
  position: absolute;
  left: 0;
  padding-top: 54px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s, visibility 0.5s, scale 0.5s;
  scale: 0;
  width: min(1240px, 100%);
}
@media (max-width: 991.98px) {
  .dropdown {
    padding-top: 0;
    position: initial;
    display: none;
  }
}
.dropdown__inner {
  --inner-padding: 30px;
  position: relative;
  padding: var(--inner-padding);
  border-radius: 20px;
  background-color: var(--dropdown-bg-color);
  box-shadow: 0px 40px 90px 20px var(--dropdown-shadow);
}
.dropdown__inner::before {
  content: url("../icons/dropdown-arrow.svg");
  position: absolute;
  top: -13px;
  left: var(--arrow-left-pos);
  translate: -50%;
  filter: var(--dropdown-arrow);
}
@media (max-width: 991.98px) {
  .dropdown__inner {
    border: none;
    background-color: transparent;
    box-shadow: none;
    padding: 0 40px;
  }
  .dropdown__inner::before {
    content: none;
  }
}
@media (max-width: 575.98px) {
  .dropdown__inner {
    padding: 0 20px;
  }
}

.top-menu {
  --max-inner-height: calc(
      min(582px, 100vh - 158px) - var(--inner-padding) * 2
  );
  position: relative;
}
.top-menu__main {
  height: var(--max-inner-height);
  width: 292px;
  border-right: 1px solid var(--top-menu-border-right-color);
  overflow-y: auto;
}
@media (max-width: 991.98px) {
  .top-menu__main {
    width: 100%;
    height: auto;
    border: none;
  }
}

.menu-column {
  display: flex;
  gap: 14px;
}
.menu-column + .menu-column {
  margin-top: 22px;
}
@media (max-width: 991.98px) {
  .menu-column {
    margin-top: 10px;
  }
}
.menu-column__icons {
  width: 36px;
  height: 36px;
  position: relative;
  flex-shrink: 0;
}
@media (max-width: 1199.98px) {
  .menu-column__icons {
    display: none;
  }
}
@media (max-width: 991.98px) {
  .menu-column__icons {
    display: block;
  }
}
.menu-column__icon-01 {
  width: 30px;
  height: 30px;
  object-fit: contain;
}
.menu-column__icon-02 {
  position: absolute;
  width: 24px;
  height: 24px;
  object-fit: contain;
  right: 0;
  bottom: 0;
  filter: var(--menu-column-icon-color);
}
.menu-column__content {
  flex: 1;
}
.menu-column__heading {
  margin-top: 4px;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 150%;
}
@media (max-width: 991.98px) {
  .menu-column__heading {
    margin-bottom: 26px;
  }
}
.menu-column__list {
  margin-top: 19px;
}
@media (max-width: 991.98px) {
  .menu-column__list {
    margin-top: 0px;
  }
}
.menu-column__item--active .sub-menu {
  display: grid;
}
.menu-column__item-active > .menu-column__link, .menu-column__item:hover > .menu-column__link {
  font-weight: 500;
  color: #0071dc;
}
.menu-column__link {
  display: block;
  padding: 7px;
  font-size: 1.4rem;
  line-height: 142.857%;
}

.sub-menu {
  display: none;
  grid-template-columns: repeat(3, 1fr);
  padding-left: var(--inner-padding);
  position: absolute;
  gap: var(--inner-padding);
  inset: 0 0 0 292px;
  overflow-y: auto;
}
@media (max-width: 991.98px) {
  .sub-menu {
    padding-left: 0;
    position: initial;
    grid-template-columns: 1fr;
  }
}
.sub-menu--not-main {
  height: var(--max-inner-height);
  display: grid;
  position: initial;
  inset: initial;
  grid-template-columns: repeat(4, 1fr);
  padding-left: 0;
}
@media (max-width: 991.98px) {
  .sub-menu--not-main {
    grid-template-columns: 1fr;
    height: auto;
  }
}

.slideshow__inner {
  display: flex;
  overflow: hidden;
}
.slideshow__item {
  flex-shrink: 0;
  position: relative;
  width: 100%;
  padding-top: 34%;
}
@media (max-width: 767.98px) {
  .slideshow__item {
    padding-top: 50%;
  }
}
.slideshow__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.cate-item {
  display: flex;
  padding: 20px 26px 20px 20px;
  border-radius: 16px;
  border-radius: 16px;
  width: 100%;
  height: 100%;
  gap: 20px;
  cursor: pointer;
  background: var(--cate-item-bg-color);
  transition: transform 0.5s;
}
.cate-item:hover {
  transform: translateY(-15px);
}
@media (max-width: 1199.98px) {
  .cate-item {
    flex-direction: column;
  }
}
@media (max-width: 767.98px) {
  .cate-item {
    flex-direction: row;
  }
}
.cate-item__thumb {
  display: block;
  width: 116px;
  height: 116px;
  border-radius: 8px;
  object-fit: contain;
  background: var(--cate-item-thumb-bg-color);
}
@media (max-width: 1199.98px) {
  .cate-item__thumb {
    margin: 0 auto;
    width: 100%;
  }
}
@media (max-width: 767.98px) {
  .cate-item__thumb {
    margin: 0;
    width: 88px;
    height: 88px;
  }
}
.cate-item__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 30px;
}
@media (max-width: 1399.98px) {
  .cate-item__info {
    padding: 0;
  }
}
.cate-item__title {
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 145.455%;
  color: var(--cate-item-title-color);
}
@media (max-width: 767.98px) {
  .cate-item__title {
    font-size: 1.8rem;
  }
}
.cate-item__desc {
  font-size: 1.6rem;
  line-height: 150%;
  color: var(--cate-item-desc-color);
}
@media (max-width: 767.98px) {
  .cate-item__desc {
    font-size: 1.4rem;
  }
}

.filter-btn {
  display: flex;
  align-items: center;
  border-radius: 6px;
  padding: 6px 12px;
  gap: 14px;
  color: var(--filter-btn-color);
  background-color: var(--filter-btn-bg-color);
}

.like-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--like-btn-bg-color);
  box-shadow: 0px 20px 60px var(--like-btn-shadow);
}
.like-btn:not(.like-btn--liked) .like-btn__img--liked {
  display: none;
}
.like-btn--liked .like-btn__img {
  display: none;
}
.like-btn__img--liked {
  position: relative;
  margin-top: 5px;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 20px;
  height: 46px;
  border-radius: 6px;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 144.444%;
}

.btn--primary {
  background-color: #FFB700 !important;
}

.btn--text {
  background-color: transparent;
}

.btn--round {
  border-radius: 99px;
}

.btn--outline {
  border: 1.5px solid #D2D1D6;
  background-color: transparent;
}

.product-card {
  padding: 16px;
  border-radius: 20px;
  background-color: var(--product-card-bg-color);
  box-shadow: 0px 20px 60px 10px var(--product-card-shadow);
  border: 1px solid var(--product-card-bg-color);
  transition: transform 0.5s, border-color 0.8s;
}
.product-card:hover {
  transform: translateY(-15px);
  border-color: #77dae6;
}
.product-card__img-wrap {
  position: relative;
  padding-top: 100%;
}
.product-card__thumb {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.product-card__like-btn {
  position: absolute;
  bottom: 0;
  right: 0;
}
.product-card__title {
  margin: 16px 0;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 150%;
  color: var(--product-title-and-price-color);
}
.product-card__brand {
  margin-bottom: 16px;
  color: #9E9DA8;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 146.667%;
}
.product-card__price {
  display: flex;
  align-items: center;
}
.product-card__money, .product-card__score {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 150%;
  color: var(--product-title-and-price-color);
}
.product-card__star {
  margin: 0 6px 0 auto;
}

.auth {
  display: flex;
  min-height: 100vh;
}
.auth__intro, .auth__content {
  flex: 1;
}
.auth__intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.auth__intro-desc {
  margin-top: 40px;
  max-width: 412px;
  text-align: center;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 500;
  line-height: 144.444%;
}
.auth__content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}
.auth__content-heading {
  margin: 50px 0 10px 0;
  font-size: 3rem;
  font-weight: 500;
  line-height: 146.667%;
}
.auth__content-desc {
  max-width: 460px;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 146.667%;
  text-align: center;
  color: #9E9DA8;
}
.auth__content-inner {
  margin-top: 60px;
  width: 460px;
}
.auth__content-link {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 146.667%;
  color: #0071DC;
}
.auth__btn-group {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.auth__content-text {
  margin-top: 50px;
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form__group {
  margin-top: 30px;
}
.form__group--inline {
  display: flex;
  align-items: center;
}
.form__text-input {
  display: flex;
  align-items: center;
  padding: 0 12px;
  width: 100%;
  height: 50px;
  border: 1.5px solid #9E9DA8;
  border-radius: 10px;
}
.form__text-input:focus-within {
  border-color: #77dae6;
}
.form__input {
  flex: 1;
  height: 100%;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 144.444%;
}
.form__input::placeholder {
  color: #D2D1D6;
}
.form__input-icon {
  margin-left: 12px;
}
.form__checkbox-label {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 146.667%;
  color: #9E9DA8;
}
.form--pul-right {
  margin-left: auto;
}

.breadcrumbs {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
  min-height: 64px;
  border-radius: 10px;
  gap: 20px;
  background: var(--breadcrumbs-bg-color);
  box-shadow: 0px 20px 60px 10px var(--breadcrumbs-shadow);
}
@media (max-width: 767.98px) {
  .breadcrumbs {
    gap: 16px;
  }
}
.breadcrumbs__link {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 150%;
  color: #9E9DA8;
  white-space: nowrap;
}
@media (max-width: 767.98px) {
  .breadcrumbs__link {
    font-size: 1.4rem;
  }
}
.breadcrumbs__link--current {
  color: inherit;
}

.review-card {
  padding: 30px;
  border-radius: 16px;
  background-color: var(--review-card-bg-color);
  height: 100%;
}
.review-card__info {
  display: flex;
  align-items: center;
  gap: 20px;
}
@media (max-width: 1199.98px) {
  .review-card__info {
    text-align: center;
    flex-direction: column;
  }
}
@media (max-width: 991.98px) {
  .review-card__info {
    flex-direction: row;
  }
}
.review-card__avatar {
  display: block;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}
@media (max-width: 991.98px) {
  .review-card__avatar {
    margin-right: 70px;
  }
}
@media (max-width: 767.98px) {
  .review-card__avatar {
    margin-right: 0px;
  }
}
.review-card__name {
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 145.455%;
}
.review-card__desc {
  margin-top: 10px;
  font-size: 1.6rem;
  line-height: 150%;
  color: inherit;
}
.review-card__rating {
  margin-top: 20px;
  display: flex;
  align-items: center;
}
@media (max-width: 1199.98px) {
  .review-card__rating {
    text-align: center;
    display: block;
  }
}
@media (max-width: 1199.98px) {
  .review-card__rating {
    display: flex;
    justify-content: center;
  }
}
.review-card__quality {
  margin-left: 20px;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 144.444%;
}
@media (max-width: 1199.98px) {
  .review-card__quality {
    margin-top: 10px;
    display: block;
  }
}
@media (max-width: 1199.98px) {
  .review-card__quality {
    margin-top: 0;
    display: inline;
  }
}

.text-content {
  font-size: 1.6rem;
  line-height: 1.6;
}
.text-content h1, .text-content h2, .text-content h3, .text-content h4, .text-content h5, .text-content h6 {
  font-weight: 600;
}
.text-content h1 {
  font-size: 2.6rem;
}
.text-content h2 {
  font-size: 2.2rem;
}
.text-content h3 {
  font-size: 1.8rem;
}
.text-content h4 {
  font-size: 1.6rem;
}
.text-content h5 {
  font-size: 1.4rem;
}
.text-content h6 {
  font-size: 1.2rem;
}
.text-content h1, .text-content h2, .text-content h3, .text-content h4, .text-content h5, .text-content h6, .text-content p, .text-content blockquote, .text-content ul, .text-content ol, .text-content img, .text-content figure, .text-content table {
  margin: 20px 0;
}
.text-content img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.text-content img + em {
  display: block;
  font-style: italic;
  text-align: center;
}
.text-content a {
  text-decoration: underline;
}
.text-content blockquote {
  padding: 20px;
  background: rgba(119, 218, 230, 0.1);
  border-left: 3px solid #77dae6;
}
.text-content blockquote p {
  margin: 0px;
}

.payment-card {
  position: relative;
  z-index: 0;
  height: 100%;
  padding: 20px;
  border-radius: 10px;
  color: #fff;
  background: var(--bg-color);
  overflow: hidden;
  user-select: none;
}
.payment-card__img {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  pointer-events: none;
}
.payment-card__top {
  display: flex;
  align-items: center;
  gap: 6px;
}
.payment-card__type {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 142.857%;
}
.payment-card__number {
  margin-top: 37px;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 144.444%;
}
.payment-card__bottom {
  display: flex;
  margin-top: 20px;
}
.payment-card__label {
  font-size: 0.8rem;
  font-weight: 500;
  line-height: 175%;
}
.payment-card__value {
  font-size: 1rem;
  font-weight: 500;
  line-height: 140%;
}
.payment-card__expired {
  margin: 0 auto 0 40px;
}
.payment-card__circle {
  --circle-width: 28px;
  position: relative;
  width: 42px;
  height: var(--circle-width);
}
.payment-card__circle::before, .payment-card__circle::after {
  content: "";
  position: absolute;
  top: 0;
  width: var(--circle-width);
  height: var(--circle-width);
  border-radius: 50%;
}
.payment-card__circle::before {
  left: 0;
  z-index: 1;
  background: #f94545;
  mix-blend-mode: hard-light;
}
.payment-card__circle::after {
  right: 0;
  background: #ffb700;
}

.new-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 14px;
  height: 100%;
  border-radius: 10px;
  border: 1px dashed #d2d1d6;
}
.new-card__text {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 142.857%;
}

.account-info {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-radius: 10px;
  background: #292E39;
  color: #B9BABE;
}
.account-info__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 54px;
  height: 54px;
  border-radius: 8px;
  background: #171C28;
}
.account-info__title {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 146.667%;
}
.account-info__desc {
  margin-top: 6px;
  font-size: 1.4rem;
  line-height: 142.857%;
}
.account-info__form {
  margin-top: 0px;
}

.favourite-item {
  display: flex;
  gap: 20px;
  color: #B9BABE;
}
.favourite-item__thumb {
  width: 151px;
  height: 108px;
  object-fit: contain;
}
.favourite-item__title {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 146.667%;
}
.favourite-item__content {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 10px;
}
.favourite-item__price {
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 145.455%;
}

.home__container {
  margin-top: 40px;
}
@media (max-width: 767.98px) {
  .home__container {
    margin-top: 30px;
  }
}
.home__heading {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 141.667%;
}
.home__cate {
  --grid-gutter-x: 51px;
}
@media (max-width: 991.98px) {
  .home__cate {
    --grid-gutter-x: 20px;
  }
}
@media (max-width: 767.98px) {
  .home__cate {
    --grid-gutter-y: 20px;
  }
}
.home__row {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product-page {
  display: flex;
  flex-direction: column;
  background-color: var(--product-detail-bg-color);
}

.product-container {
  margin-top: 30px;
}

.product-preview {
  padding: 0 30px;
}
@media (max-width: 991.98px) {
  .product-preview {
    display: flex;
    flex-direction: row-reverse;
  }
}
.product-preview__list {
  display: flex;
  overflow: hidden;
}
@media (max-width: 991.98px) {
  .product-preview__list {
    flex: 1;
  }
}
.product-preview__item {
  position: relative;
  width: 100%;
  flex-shrink: 0;
  padding-top: 92%;
}
.product-preview__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.product-preview__thumbs {
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
@media (max-width: 991.98px) {
  .product-preview__thumbs {
    flex-direction: column;
  }
}
@media (max-width: 767.98px) {
  .product-preview__thumbs {
    display: none;
  }
}
.product-preview__thumb-img {
  width: 75px;
  height: 75px;
  object-fit: contain;
  border: 1.5px solid #EEE;
  border-radius: 8px;
  opacity: 0.8;
  cursor: pointer;
  transition: border-color 0.5s, opacity 0.5s;
}
.product-preview__thumb-img:hover {
  opacity: 1;
  border-color: #77dae6;
}
.product-preview__thumb-img--current {
  opacity: 1;
  border-color: #ffb700;
}

.product-info {
  padding: 60px;
  background-color: var(--product-info-bg-color);
}
@media (max-width: 1199.98px) {
  .product-info {
    padding: 20px;
  }
}
@media (max-width: 767.98px) {
  .product-info {
    border-radius: 20px;
  }
}
.product-info__heading {
  font-size: 2.6rem;
  font-weight: 500;
  line-height: 138.462%;
  color: var(--product-info-heading-color);
}
.product-info__card {
  margin-top: 30px;
  padding: 20px;
  border-radius: 6px;
  border: 1px solid #B9BABE;
}
.product-info__row {
  display: flex;
  align-items: center;
}
.product-info__add-to-card {
  flex: 1;
}
.product-info__price {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 150%;
}
.product-info__tax {
  padding: 2px 8px;
  margin-left: 10px;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.8) 100%), #67B044;
  color: #67B044;
}
.product-info__total-price {
  margin: 20px 0px;
  font-size: 2.6rem;
  font-weight: 500;
  line-height: 138.462%;
}
.product-info__like-btn {
  margin-left: 20px;
  width: 46px;
  height: 46px;
  border-radius: 6px;
  border: 1px solid #D2D1D6;
  background: transparent;
}

.product-props {
  padding-left: 30px;
}

.product-prop {
  display: flex;
  margin-top: 30px;
  align-items: center;
  gap: 16px;
}
.product-prop__icon {
  align-self: flex-start;
}
.product-prop__title {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 144.444%;
  color: var(--product-info-heading-color);
}
.product-prop__desc {
  margin-top: 5%;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 142.857%;
  color: var(--product-info-heading-color);
}

.product-filter {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  margin-top: 30px;
}
.product-filter__title {
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 145.455%;
  color: var(--product-filter-title-color);
}
.product-filter__select {
  display: flex;
  align-items: center;
  gap: 14px;
  padding: 0 14px;
  border: 1px solid #9E9DA8;
  border-radius: 6px;
}
.product-filter__weight {
  display: flex;
  align-items: center;
  padding: 5px 0;
  gap: 30px;
  color: var(--product-filter-title-color);
}
.product-filter__weight:first-child {
  border-right: 1px solid #9E9DA8;
}
.product-filter__icon:first-child {
  margin-right: 14px;
}
.product-filter__size-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.product-filter__size {
  padding: 6px 12px;
  background-color: var(--product-filter-size-bg-color);
  border-radius: 6px;
  color: #9E9DA8;
  opacity: 0.8;
  transition: color 0.5s, opacity 0.5s;
}
.product-filter__size:hover {
  color: #77dae6;
  opacity: 1;
}

.product-tab__list {
  display: flex;
  align-items: center;
  margin: 0 -30px;
}
@media (max-width: 575.98px) {
  .product-tab__list {
    margin: 0 -10px;
  }
}
.product-tab__item {
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 145.455%;
  padding: 0 30px;
  color: #9E9DA8;
  white-space: nowrap;
  user-select: none;
  cursor: pointer;
  transition: color 0.5s;
}
.product-tab__item:hover {
  color: #77dae6;
}
@media (max-width: 991.98px) {
  .product-tab__item {
    padding: 10px 30px;
    font-size: 1.8rem;
  }
}
@media (max-width: 575.98px) {
  .product-tab__item {
    padding: 10px;
    font-size: 1.4rem;
  }
}
.product-tab__item--current {
  color: inherit;
}
.product-tab__contents {
  padding-top: 30px;
}
.product-tab__content {
  display: none;
}
.product-tab__content--current {
  display: block;
}

.product-content__heading {
  margin-bottom: 30px;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 141.667%;
}
@media (max-width: 575.98px) {
  .product-content__heading {
    font-size: 1.8rem;
  }
}

.checkout-page {
  display: flex;
  flex-direction: column;
  background-color: var(--product-detail-bg-color);
}

.checkout-container {
  margin-top: 30px;
}

.cart-info {
  padding: 30px;
  border-radius: 20px;
  background: #171C28;
  box-shadow: 0px 20px 60px 10px rgba(23, 28, 40, 0.2);
}
.cart-info__list {
  margin-top: -30px;
}
.cart-info__bottom {
  margin-top: 30px;
}
.cart-info__continue {
  height: 100%;
  display: flex;
  align-items: flex-end;
}
.cart-info__link {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 144.444%;
}
.cart-info__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 144.444%;
  color: #B9BABE;
}
.cart-info__row:nth-child(2) {
  padding-bottom: 30px;
  border-bottom: 1px solid #292E39;
}
.cart-info__row:last-child {
  margin-top: 30px;
}
.cart-info__row--bold {
  font-size: 2.2rem;
  font-weight: 700;
}
.cart-info__button {
  margin-top: 30px;
}
.cart-info__gift {
  display: flex;
  gap: 20px;
}
.cart-info__thumb-wrap {
  padding: 10px;
  border-radius: 14px;
  background: #292E39;
}
.cart-info__content {
  flex: 1;
}
.cart-info__title {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 144.444%;
  color: #B9BABE;
}
.cart-info__desc {
  margin-top: 10px;
  font-size: 1.4rem;
  line-height: 142.857%;
  color: #B9BABE;
}

.cart-info + .cart-info {
  margin-top: 30px;
}

.cart-item {
  display: flex;
  gap: 30px;
  padding: 30px 0;
  border-bottom: 1px solid #292E39;
  color: #B9BABE;
}
.cart-item__thumb {
  width: 175px;
  height: 175px;
  object-fit: contain;
}
.cart-item__content {
  display: flex;
  align-self: flex-start;
  flex: 1;
}
.cart-item__content-left {
  flex: 1;
}
.cart-item__content-right {
  display: flex;
  flex-direction: column;
}
.cart-item__heading {
  max-width: 374px;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 144.444%;
}
.cart-item__price-wrap {
  margin: 16px 0;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 144.444%;
}
.cart-item__status {
  color: #67B044;
}
.cart-item__controls {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: auto;
  min-height: 46px;
}
.cart-item__input {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 44px;
  padding: 0 20px;
  border-radius: 10px;
  border: 1px solid #292E39;
}
.cart-item__total-price {
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 145.455%;
  color: #B9BABE;
  text-align: right;
}
.cart-item__controls-btn {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #9E9DA8;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 150%;
}

.profile {
  margin-bottom: 50px;
}
.profile-container {
  margin-top: 30px;
}
.profile__sidebar {
  padding-bottom: 30px;
  border-radius: 20px;
  background: #171C28;
  box-shadow: 0px 20px 60px 10px rgba(23, 28, 40, 0.2);
  overflow: hidden;
  height: 100%;
}
.profile__bold {
  font-size: 2.4rem;
  font-weight: 700;
}
.profile__desc {
  margin-bottom: 16px;
}
.profile-user {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px 20px;
  background: linear-gradient(180deg, rgba(26, 22, 46, 0) 0%, #1a162e 100%), url("../img/profile/cover.png") no-repeat center/cover;
  color: #fff;
}
.profile-user__avatar {
  width: 121px;
  height: 121px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0px 4px 14px 2px rgba(0, 0, 0, 0.08);
  border: 5px solid rgba(255, 255, 255, 0.2);
  background: #ccc content-box;
}
.profile-user__name {
  margin-top: 15px;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 144.444%;
}
.profile-user__desc {
  padding-top: 10px;
  margin-top: 2px;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 146.667%;
}
.profile-menu {
  padding: 30px;
  color: #B9BABE;
}
.profile-menu__title {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 144.444%;
}
.profile-menu__list {
  margin-top: 11px;
}
.profile-menu__link {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 32px;
  padding: 0 4px;
  border-radius: 5px;
  font-size: 1.5rem;
  line-height: 146.667%;
  transition: color 0.3s;
}
.profile-menu__link:hover {
  color: #77dae6;
}
.profile-menu__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 100%;
}

/*# sourceMappingURL=main.css.map */
