@use "../abstracts";
.footer {
    margin-top: 50px;
    padding: 50px 0;
    background-color: var(--footer-bg-color);

    @include abstracts.screen(lg) {
        &__logo.logo {
            margin-left: 0px;
        }
    }

    &__row {
        display: grid;
        grid-template-columns: 2fr 1.3fr 1fr 1fr 1.5fr;
        gap: 60px;

        @include abstracts.screen(lg) {
            grid-template-columns: 1fr;
        }
    }

    &__desc {
        font-size: 1.4rem;
        margin-top: 30px;
        line-height: 1.5;
    }

    &__help-text {
        font-size: 1.4rem;
        margin-top: 40px;
        line-height: 1.4;
    }

    &__form {
        display: flex;
        // flex-direction: column;
        align-items: center;
        gap: 10px;
        padding: 16px 0;
    }

    &__input {
        width: 100%;
        padding: 8px 12px;
        border-radius: 6px;
        border: 2px solid #d2d1d6;
        font-size: 1.5rem;
        font-weight: 500;
        outline: none;

        @include abstracts.screen(lg) {
            width: 40%;
        }
    }

    &__heading {
        text-transform: uppercase;
        font-weight: 900;
        font-size: 1.8rem;
    }

    &__list {
        list-style: none;
        margin-top: 18px;
    }

    &__item {
        margin-top: 10px;
    }

    &__link {
        font-size: 1.4rem;
        padding: 8px 0;
        line-height: 1.4;
    }

    &__label {
        margin: 20px 0 10px 0;
    }

    &__text {
        margin-top: 20px;
        font-size: 1.4rem;
        padding: 8px 0;
        line-height: 1.4;
    }
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 40px;
    padding: 0 20px;
    border-radius: 6px;
    // background: #f8f8fb;
    font-size: 1.8rem;
    font-weight: 500;
    white-space: nowrap;
    user-select: none;
}

.btn--primary {
    color: #171c28;
    background: #ffb700;
}