@use "../abstracts";

%flexItemsCenter {
    display: flex;
    align-items: center;
}

.header {
    background-color: var(--header-bg-color);

    @include abstracts.screen(lg) {
        box-shadow: 0px 20px 60px 10px var(--header-shadow-color);
    }
}

.top-bar {
    @extend %flexItemsCenter;
    z-index: 1;
    position: relative;
    padding: 30px 0;

    @include abstracts.screen(lg) {
        padding: 20px;
    }

    @include abstracts.screen(md) {
        padding: 16px;
        justify-content: space-between;
    }

    // &__more {
    //     display: none;
    //     @include abstracts.screen(lg) {
    //         display: block;
    //     }
    // }
}

.navbar {
    margin-left: 129px;
    margin-right: auto;

    @include abstracts.screen(xl) {
        margin-left: 28px;
    }

    @include abstracts.screen(lg) {
        position: fixed;
        z-index: 9;
        display: block;
        inset: 0 50% 0 0;
        background-color: var(--sidebar-bg-color);
        margin-left: 0;
        padding: 40px 0;
        translate: -100%;
        transition: translate 0.5s;
        border-radius: 0px 20px 20px 0px;

        &.show {
            translate: 0;
            box-shadow: var(--sidebar-shadow);
        }

        &.show ~ &__overlay {
            visibility: visible;
            opacity: 1;
        }
    }

    @include abstracts.screen(md) {
        padding: 20px 0;
        inset: 0 20% 0 0;
    }

    &__overlay {
        visibility: hidden;
        opacity: 0;
        @include abstracts.screen(lg) {
            position: fixed;
            inset: 0;
            z-index: 8;
            transition: opacity, visibility;
            transition-duration: 0.5s;
            background-color: rgba($color: #000000, $alpha: 0.4);
        }
    }

    &__list {
        @extend %flexItemsCenter;
        @include abstracts.screen(lg) {
            flex-direction: column;
            align-items: flex-start;
            overscroll-behavior: contain;
            height: calc(100% - 40px);
            overflow-y: auto;
        }

        @include abstracts.screen(md) {
            height: calc(100% - 140px);
        }
    }

    &__item {
        &:hover .dropdown {
            opacity: 1;
            visibility: visible;
            scale: 1;

            @include abstracts.screen(lg) {
                display: block;
            }
        }

        @include abstracts.screen(lg) {
            // &:hover .dropdown {
            //     opacity: 0;
            //     visibility: hidden;
            //     scale: 0;
            // }

            width: 100%;

            &:hover .dropdown {
                display: none;
            }

            &--active .dropdown {
                display: block !important;
            }
        }
    }

    &__link {
        @extend %flexItemsCenter;
        height: 50px;
        padding: 0 15px;
        column-gap: 6px;
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 146.667%;

        @include abstracts.screen(lg) {
            justify-content: space-between;
            padding: 0 40px;
            font-size: 1.6rem;
            line-height: 150%;
        }

        @include abstracts.screen(sm) {
            height: 44px;
            padding: 0 20px;
        }
    }

    &__arrow {
        margin-top: 3px;

        @include abstracts.screen(lg) {
            rotate: -90deg;
            transition: rotate 0.5s;
        }
    }

    &__item--active &__arrow {
        rotate: 0deg;
    }

    &__close-btn {
        display: none;

        @include abstracts.screen(lg) {
            display: block;
            padding: 10px 40px;
        }

        @include abstracts.screen(sm) {
            padding: 0px 20px 10px;
        }
    }
}

.top-act {
    display: flex;
    column-gap: 20px;

    @include abstracts.screen(lg) {
        margin-left: auto;
    }

    @include abstracts.screen(md) {
        margin-left: 0;
    }

    &__group {
        @extend %flexItemsCenter;

        border-radius: 8px;
        background-color: var(--top-act-group-color);
        box-shadow: 0px 20px 60px 10px var(--top-act-group-shadow);
    }

    &__separate {
        width: 1px;
        height: 30px;
        background: var(--top-act-separate-color);
    }

    &__group--single &__btn {
        padding: 13px;
    }

    &__btn {
        position: relative;
        padding: 13px 20px;
        @extend %flexItemsCenter;
        column-gap: 10px;
        cursor: pointer;
    }

    &__btn:hover .act-dropdown {
        opacity: 1;
        visibility: visible;
        scale: 1;

    }

    &__title {
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 146.667%;
        color: var(--text-color);
    }

    &__avatar {
        display: block;
        width: 50px;
        height: 50px;
        object-fit: cover;
        border-radius: 8px;
        cursor: pointer;
    }
}

.nav-btn {
    height: 50px;
    align-items: center;
    padding: 0 40px;

    @include abstracts.screen(sm) {
        padding: 0 20px;
        height: 44px;
    }

    &__title {
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 146.667%;
        margin-left: 16px;
    }

    &__qnt {
        @extend .nav-btn__title;
        margin-left: auto;
    }
}

.act-dropdown {
    opacity: 0;
    visibility: hidden;
    scale: 0;
    transition: opacity 0.5s, visibility 0.5s, scale 0.5s;
    position: absolute;
    width: min(674px, 100vw);
    top: 80px;
    right: -72px;
    padding: 30px;
    background-color: var(--act-dropdown-bg-color);
    border-radius: 20px;

    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 30px;
    }

    &__title {
        font-size: 2.2rem;
        font-style: normal;
        font-weight: 500;
        line-height: 145.455%;
        color: var(--act-dropdown-text-color);
    }

    &__see-all {
        font-size: 2.2rem;
        line-height: 145.455%;
        color: #0071DC;
    }

    &__bottom {
        margin: 30px 0px;
        padding: 30px 0px;
        border-width: 1.5px 0px 1.5px 0;
        border-style: solid;
        border-color: var(--act-dropdown-border-color);
    }

    &__row {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }


    &__row + &__row {
        margin-top: 20px;
    }

    &__label, &__value {
        font-size: 2.2rem;
        font-weight: 400;
        line-height: 145.455%;
        color: var(--act-dropdown-text-color);
    }

    &__label--bold {
        font-weight: 500;
    }

    &__checkout {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        flex-shrink: 0;
    }

    &__btn {
        width: 50%;
        height: 68px;
    }

}


.preview-cart-item {
    text-align: left;
    color: var(--act-dropdown-text-color);

    &__img-wrap {
        position: relative;
        padding-top: 100%;
        width: 100%;
        height: 100%;
        border: 1.5px solid #6c6c6d;
        border-radius: 10px;
    }

    &__thumb {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    &__title {
        margin: 14px 0px 6px 0px;
        font-size: 1.4rem;
        line-height: 142.857%;
    }

    &__price {
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 146.667%;
        
    }
}
