.filter-btn {
    display: flex;
    align-items: center;
    border-radius: 6px;
    padding: 6px 12px;
    gap: 14px;
    color: var(--filter-btn-color);
    background-color: var(--filter-btn-bg-color);
}

.like-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--like-btn-bg-color);
    box-shadow: 0px 20px 60px var(--like-btn-shadow);

    &:not(&--liked) .like-btn__img--liked {
        display: none;
    }

    &--liked .like-btn__img {
        display: none;
    }

    &__img--liked {
        position: relative;
        margin-top: 5px;
    }
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 20px;
    height: 46px;
    border-radius: 6px;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 144.444%;
}

.btn--primary {
    background-color: #FFB700 !important;
}

.btn--text {
    background-color: transparent;
}

.btn--round {
    border-radius: 99px;
}

.btn--outline {
    border: 1.5px solid #D2D1D6;
    background-color: transparent;

}