@use "../abstracts";
.cate-item {
    display: flex;
    padding: 20px 26px 20px 20px;
    border-radius: 16px;
    border-radius: 16px;
    width: 100%;
    height: 100%;
    gap: 20px;
    cursor: pointer;
    background: var(--cate-item-bg-color);
    transition: transform 0.5s;

    &:hover {
        transform: translateY(-15px);
    }

    @include abstracts.screen(xl) {
        flex-direction: column;
    }

    @include abstracts.screen(md) {
        flex-direction: row;
    }

    &__thumb {
        display: block;
        width: 116px;
        height: 116px;
        border-radius: 8px;
        object-fit: contain;
        background: var(--cate-item-thumb-bg-color);

        @include abstracts.screen(xl) {
            margin: 0 auto;
            width: 100%;
        }

        @include abstracts.screen(md) {
            margin: 0;
            width: 88px;
            height: 88px;
        }
        
    }

    &__info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-right: 30px;

        @include abstracts.screen(xxl) {
            padding: 0;
        }
    }

    &__title {
        font-size: 2.2rem;
        font-weight: 700;
        line-height: 145.455%;
        color: var(--cate-item-title-color);

        @include abstracts.screen(md) {
            font-size: 1.8rem;
        }
    }

    &__desc {
        font-size: 1.6rem;
        line-height: 150%;
        color: var(--cate-item-desc-color);

        @include abstracts.screen(md) {
            font-size: 1.4rem;
        }

        // @include abstracts.screen(xl) {
        //     margin: 0 auto;
        // }
    }

}