@use "../abstracts";
.dropdown {
    position: absolute;
    left: 0;
    padding-top: 54px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0.5s, scale 0.5s;
    scale: 0;
    // display: none;
    width: min(1240px, 100%);

    @include abstracts.screen(lg) {
        padding-top: 0;
        position: initial;
        display: none;
        // opacity: 1;
        // visibility: visible;
        // scale: 1;

        // display: block;
    }

    &__inner {
        --inner-padding: 30px;

        position: relative;
        padding: var(--inner-padding);
        border-radius: 20px;
        background-color: var(--dropdown-bg-color);
        box-shadow: 0px 40px 90px 20px var(--dropdown-shadow);

        &::before {
            content: url("../icons/dropdown-arrow.svg");
            position: absolute;
            top: -13px;
            left: var(--arrow-left-pos);
            translate: -50%;
            filter: var(--dropdown-arrow);
        }

        @include abstracts.screen(lg) {
            border: none;
            background-color: transparent;
            box-shadow: none;
            padding: 0 40px;

            &::before {
                content: none;
            }
        }

        @include abstracts.screen(sm) {
            padding: 0 20px;
        }
    }
}

.top-menu {
    --max-inner-height: calc(
        min(582px, 100vh - 158px) - var(--inner-padding) * 2
    );
    position: relative;
    &__main {
        height: var(--max-inner-height);
        width: 292px;
        border-right: 1px solid var(--top-menu-border-right-color);
        overflow-y: auto;

        @include abstracts.screen(lg) {
            width: 100%;
            height: auto;
            border: none;
        }
    }
}

.menu-column {
    display: flex;
    gap: 14px;

    + .menu-column {
        margin-top: 22px;
    }

    @include abstracts.screen(lg) {
        margin-top: 10px;
    }

    &__icons {
        width: 36px;
        height: 36px;
        position: relative;
        flex-shrink: 0;

        @include abstracts.screen(xl) {
            display: none;
        }

        @include abstracts.screen(lg) {
            display: block;
        }
    }

    &__icon-01 {
        width: 30px;
        height: 30px;
        object-fit: contain;
    }

    &__icon-02 {
        position: absolute;
        width: 24px;
        height: 24px;
        object-fit: contain;
        right: 0;
        bottom: 0;
        filter: var(--menu-column-icon-color);
    }

    &__content {
        flex: 1;
    }

    &__heading {
        margin-top: 4px;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 150%;

        @include abstracts.screen(lg) {
            margin-bottom: 26px;
        }
    }

    &__list {
        margin-top: 19px;

        @include abstracts.screen(lg) {
            margin-top: 0px;
        }
    }

    &__item {
        &--active .sub-menu {
            display: grid;
        }
    }
    &__item-active > &__link,
    &__item:hover > &__link {
        font-weight: 500;
        color: #0071dc;
    }

    &__link {
        display: block;
        padding: 7px;
        font-size: 1.4rem;
        line-height: 142.857%;
    }
}

.sub-menu {
    display: none;
    grid-template-columns: repeat(3, 1fr);
    padding-left: var(--inner-padding);
    position: absolute;
    gap: var(--inner-padding);
    inset: 0 0 0 292px;
    overflow-y: auto;

    @include abstracts.screen(lg) {
        padding-left: 0;
        position: initial;
        grid-template-columns: 1fr;
    }

    &--not-main {
        height: var(--max-inner-height);
        display: grid;
        position: initial;
        inset: initial;
        grid-template-columns: repeat(4, 1fr);
        padding-left: 0;

        @include abstracts.screen(lg) {
            grid-template-columns: 1fr;
            height: auto;
        }
    }
}
